{% extends "base.html" %}

{% block content %}
<div>
  <div class="breadcrumbs">
    <div class="page-header d-flex align-items-center" style="background-image: url('');">
      <div class="container position-relative">
        <div class="row d-flex justify-content-center">
          <div class="col-lg-6 text-center">
            <p>The Model predicted the image as </p>
            <h2>Dermatitis.</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
  <section id="blog" class="blog">
    <div class="container" data-aos="fade-up">
  
      <div class="row g-5">
  
        <div class="col-lg-8">
  
          <article class="blog-details">
  
            <div class="post-img">
              <img src="assets/img/blog/blog-1.jpg" alt="IMG Not Available" class="img-fluid">
            </div>
  
            <h2 class="title">Basic information about Dermatitis.</h2>
  
            <div class="content">
              <p>
                Dermatitis is a general term that describes a common skin irritation. It has many causes and forms and
                usually involves itchy, dry skin or a rash. Or it might cause the skin to blister, ooze, crust or
                flake off.
              </p>
  
              <p>
                Three common types of this condition are atopic dermatitis (eczema), seborrheic dermatitis and
                contact dermatitis.
  
                Dermatitis isn't contagious, but it can make you feel uncomfortable and self-conscious. Moisturizing
                regularly helps control the symptoms. Treatment may also include medicated ointments, creams and
                shampoos.
              </p>
  
              <blockquote>
                <div>
                  <h4>Symptoms:</h4>
                  <p> 1. Itchiness (pruritus).</p>
                  <p> 2. Dry skin.</p>
                  <p> 3. Rash on swollen skin that varies in color depending on your skin color.</p>
                  <p> 4. Blisters, perhaps with oozing and crusting.</p>
                  <p> 5. Flaking skin (dandruff).</p>
                  <p> 6. Thickened skin.</p>
                  <p> 7. Bumps in hair follicles</p>
                </div>
              </blockquote>
  
  
              <h3>When to see a doctor ?</h3>
  
              <p>
                1. You're so uncomfortable that you're losing sleep or are distracted from your daily routines. <br>
                2. Your skin becomes painful. <br>
                3. You suspect that your skin is infected. <br>
                4. You've tried self-care steps but your signs and symptoms persist.
              </p>
  
  
  
            </div><!-- End post content -->
  
  
          </article><!-- End blog post -->
  
          <div class="post-author d-flex align-items-center">
            <img src="assets/img/blog/blog-author.jpg" class="rounded-circle flex-shrink-0" alt="Auhtor Img">
            <div>
              <h4>Jane Smith</h4>
              <div class="social-links">
                <a href="https://twitter.com/#"><i class="bi bi-twitter"></i></a>
                <a href="https://facebook.com/#"><i class="bi bi-facebook"></i></a>
                <a href="https://instagram.com/#"><i class="biu bi-instagram"></i></a>
              </div>
              <p>
                Itaque quidem optio quia voluptatibus dolorem dolor. Modi eum sed possimus accusantium. Quas repellat
                voluptatem officia numquam sint aspernatur voluptas. Esse et accusantium ut unde voluptas.
              </p>
            </div>
          </div><!-- End post author -->
  
  
  
        </div><!-- End blog comments -->
  
      </div>
  
  </section>
</div><!-- End Blog Details Section -->

{% endblock %}