{% extends "base.html" %}

{% block content %}
<div class="breadcrumbs">
  <div class="page-header d-flex align-items-center" style="background-image: url('');">
    <div class="container position-relative">
      <div class="row d-flex justify-content-center">
        <div class="col-lg-6 text-center">
          <p>The Model predicted the image as </p>
          <h2>Eczema.</h2>
        </div>
      </div>
    </div>
  </div>
</div>
<section id="blog" class="blog">
  <div class="container" data-aos="fade-up">

    <div class="row g-5">

      <div class="col-lg-8">

        <article class="blog-details">

          <div class="post-img">
            <img src="assets/img/blog/blog-1.jpg" alt="IMG Not Available" class="img-fluid">
          </div>

          <h2 class="title">Basic information about Eczema.</h2>

          <div class="content">
            <p>Eczema is a condition in which patches of skin become inflamed, itchy, cracked, and rough.
              Some types can also cause blisters.</p>
            <p>
              Different types and stages of eczema affect 31.6 million people in the United States, which
              equals more
              than 10% of the population.Many people use the word eczema when referring to atopic
              dermatitis, which is
              the most common type. The term atopic refers to a collection of conditions that involve the
              immune
              system, including atopic dermatitis, asthma, and hay fever. The word dermatitis refers to
              inflammation
              of the skin. Certain foods, such as nuts and dairy, can trigger symptoms of eczema.
              Environmental
              triggers can include smoke, pollen, soaps, and fragrances. Eczema is not contagious.
            </p>

            <p>
              About a quarter of children in the U.S. have the condition, as well as 10% of African
              Americans, 13%
              of Asian Americans and Pacific Islanders, 13% of Native Americans, and 11% of people who are
              white.Some people outgrow the condition, while others will continue to have it throughout
              adulthood.
              This article will explain what eczema is and discuss its symptoms, treatments, causes, and
              types.
            </p>

            <blockquote>
              <div>
                <h4>Symptoms:</h4>
                <p>1. Dry, scaly skin</p>
                <br>
                <p> 2. Skin flushing </p>
                <br>
                <p>3. Itching </p>
                <br>
                <p>4. Open, crusted, or weeping sores. </p>
                <br>
              </div>
            </blockquote>


            <h3>People with severe eczema may need more intensive treatment to relieve their symptoms.
              Continuous
              rubbing and scratching can also lead to skin infections.</h3>

            <p>
              1. Rashes that appear behind the creases of elbows or knees. <br>
              2. Rashes that appear on the neck, wrists, ankles, and the crease between the buttocks and
              legs
              bumpy rashes. <br>
              3. Rashes that can become lighter or darker. <br>
              4. Skin thickening, also known as lichenification, which can then develop into a permanent
              itch. <br>
            </p>



          </div><!-- End post content -->


        </article><!-- End blog post -->

        <div class="post-author d-flex align-items-center">
          <img src="assets/img/blog/blog-author.jpg" class="rounded-circle flex-shrink-0" alt="Auhtor Img">
          <div>
            <h4>Jane Smith</h4>
            <div class="social-links">
              <a href="https://twitter.com/#"><i class="bi bi-twitter"></i></a>
              <a href="https://facebook.com/#"><i class="bi bi-facebook"></i></a>
              <a href="https://instagram.com/#"><i class="biu bi-instagram"></i></a>
            </div>
            <p>
              Itaque quidem optio quia voluptatibus dolorem dolor. Modi eum sed possimus accusantium. Quas
              repellat
              voluptatem officia numquam sint aspernatur voluptas. Esse et accusantium ut unde voluptas.
            </p>
          </div>
        </div><!-- End post author -->



      </div><!-- End blog comments -->

    </div>

</section><!-- End Blog Details Section -->

{% endblock %}