{% extends "base.html" %}

{% block content %}
<div class="breadcrumbs">
    <div class="page-header d-flex align-items-center" style="background-image: url('');">
        <div class="container position-relative">
            <div class="row d-flex justify-content-center">
                <div class="col-lg-6 text-center">
                    <p>The Model predicted the image as </p>
                    <h2>Melanoma.</h2>
                </div>
            </div>
        </div>
    </div>
</div>
<section id="blog" class="blog">
    <div class="container" data-aos="fade-up">

        <div class="row g-5">

            <div class="col-lg-8">

                <article class="blog-details">

                    <div class="post-img">
                        <img src="assets/img/blog/blog-1.jpg" alt="IMG Not Available" class="img-fluid">
                    </div>

                    <h2 class="title">Basic information about Melanoma.</h2>

                    <div class="content">
                        <p> Melanoma, the most serious type of skin cancer, develops in the cells (melanocytes) that
                            produce
                            melanin the pigment that gives your skin its color. Melanoma can also form in your eyes and,
                            rarely,
                            inside your body, such as in your nose or throat.</p>
                        <p>
                            The exact cause of all melanomas isn't clear, but exposure to ultraviolet (UV) radiation
                            from sunlight
                            or tanning lamps and beds increases your risk of developing melanoma. Limiting your exposure
                            to UV
                            radiation can help reduce your risk of melanoma.
                        </p>

                        <blockquote>
                            <div>
                                <h3>Signs Of Melanoma: </h3>
                                <p>1. Asymmetry.</p> <br>
                                <p>2. Border.</p> <br>
                                <p>3. Diameter.</p> <br>
                                <p>4. Evolvings.</p> <br>

                            </div>
                        </blockquote>

                        <p>
                            The risk of melanoma seems to be increasing in people under 40, especially women. Knowing
                            the warning
                            signs of skin cancer can help ensure that cancerous changes are detected and treated before
                            the cancer
                            has spread. Melanoma can be treated successfully if it is detected early.
                        </p>

                        <h3>Symptoms. </h3>
                        <p>
                            Melanomas can develop anywhere on your body. They most often develop in areas that have had
                            exposure
                            to the sun, such as your back, legs, arms and face.</p>
                        Melanomas can also occur in areas that don't receive much sun exposure, such as the soles of
                        your feet,
                        palms of your hands and fingernail beds. These hidden melanomas are more common in people with
                        darker
                        skin.
                        </p>



                    </div><!-- End post content -->


                </article><!-- End blog post -->

                <div class="post-author d-flex align-items-center">
                    <img src="assets/img/blog/blog-author.jpg" class="rounded-circle flex-shrink-0" alt="Auhtor Img">
                    <div>
                        <h4>Jane Smith</h4>
                        <div class="social-links">
                            <a href="https://twitter.com/#"><i class="bi bi-twitter"></i></a>
                            <a href="https://facebook.com/#"><i class="bi bi-facebook"></i></a>
                            <a href="https://instagram.com/#"><i class="biu bi-instagram"></i></a>
                        </div>
                        <p>
                            Itaque quidem optio quia voluptatibus dolorem dolor. Modi eum sed possimus accusantium. Quas
                            repellat
                            voluptatem officia numquam sint aspernatur voluptas. Esse et accusantium ut unde voluptas.
                        </p>
                    </div>
                </div><!-- End post author -->



            </div><!-- End blog comments -->

        </div>

</section><!-- End Blog Details Section -->

{% endblock %}