{% extends "base.html" %}

{% block content %}
<div class="breadcrumbs">
    <div class="page-header d-flex align-items-center" style="background-image: url('');">
        <div class="container position-relative">
            <div class="row d-flex justify-content-center">
                <div class="col-lg-6 text-center">
                    <p>The Model predicted the image as </p>
                    <h2>Psoriasis.</h2>
                </div>
            </div>
        </div>
    </div>
</div>
<section id="blog" class="blog">
    <div class="container" data-aos="fade-up">

        <div class="row g-5">

            <div class="col-lg-8">

                <article class="blog-details">

                    <div class="post-img">
                        <img src="assets/img/blog/blog-1.jpg" alt="IMG Not Available" class="img-fluid">
                    </div>

                    <h2 class="title">Basic information about Psoriasis.</h2>

                    <div class="content">
                        <p>Psoriasis is a skin disease that causes a rash with itchy, scaly patches, most commonly on
                            the knees,
                            elbows, trunk and scalp. Psoriasis is a common, long-term (chronic) disease with no cure. It
                            can be
                            painful, interfere with sleep and make it hard to concentrate.</p>
                        <p>
                            The condition tends to go through cycles, flaring for a few weeks or months, then subsiding
                            for a
                            while. Common triggers in people with a genetic predisposition to psoriasis include
                            infections, cuts
                            or burns, and certain medications.
                        </p>

                        <blockquote>
                            <div>
                                <p>
                                <p>1. Becomes severe or widespread.</p> <br>
                                <p>2. Causes you discomfort and pain.</p> <br>
                                <p>3. Causes you concern about the appearance of your skin.</p> <br>
                                <p>4. Doesn't improve with treatment.</p> <br>
                                </p>
                            </div>
                        </blockquote>


                        <h3>Causes.</h3>

                        <p>
                            Psoriasis is thought to be an immune system problem that causes skin cells to grow faster
                            than usual.
                            In the most common type of psoriasis, known as plaque psoriasis, this rapid turnover of
                            cells results
                            in dry, scaly patches.
                            The cause of psoriasis isn't fully understood. It's thought to be an immune system problem
                            where
                            infection-fighting cells attack healthy skin cells by mistake. Researchers believe that both
                            genetics
                            and environmental factors play a role. The condition is not contagious.
                        </p>

                        <h3> Psoriasis trigger</h3>
                        <p>
                            1. Infections, such as strep throat or skin infections. <br>
                            2. Weather, especially cold, dry conditions. <br>
                            3. Injury to the skin, such as a cut or scrape, a bug bite, or a severe sunburn. <br>
                            4. Smoking and exposure to secondhand smoke. <br>
                            5. Heavy alcohol consumption. <br>
                            6. Certain medications — including lithium, high blood pressure drugs and antimalarial
                            drugs. <br>
                            7. Rapid withdrawal of oral or injected corticosteroids. <br>
                        </p>



                    </div><!-- End post content -->


                </article><!-- End blog post -->

                <div class="post-author d-flex align-items-center">
                    <img src="assets/img/blog/blog-author.jpg" class="rounded-circle flex-shrink-0" alt="Auhtor Img">
                    <div>
                        <h4>Jane Smith</h4>
                        <div class="social-links">
                            <a href="https://twitter.com/#"><i class="bi bi-twitter"></i></a>
                            <a href="https://facebook.com/#"><i class="bi bi-facebook"></i></a>
                            <a href="https://instagram.com/#"><i class="biu bi-instagram"></i></a>
                        </div>
                        <p>
                            Itaque quidem optio quia voluptatibus dolorem dolor. Modi eum sed possimus accusantium. Quas
                            repellat
                            voluptatem officia numquam sint aspernatur voluptas. Esse et accusantium ut unde voluptas.
                        </p>
                    </div>
                </div><!-- End post author -->



            </div><!-- End blog comments -->

        </div>

</section><!-- End Blog Details Section -->

{% endblock %}